<!DOCTYPE html>
<html lang='fr'>
<head>
	<meta charset="utf-8">	
	<title>Ma messagerie</title>

	<link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../assets/css/style-desktop.css">
	<link rel="stylesheet" href="../../assets/css/style-mobile.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,500i,700,700i" rel="stylesheet">
</head>

<body class="omb-internal omb-messagerie">
<div class="omb-wrapper">

<header>
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header" aria-expanded="false">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    </button>
			     
		    </div><!-- navbar-header -->
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-collapse-header">
                <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" alt="Voir profil"><i class="glyphicon glyphicon-user" ></i></a></li>
                    <li><a href="#" alt="Mes contacts"><i class="glyphicon glyphicon-headphones"></i></a></li>
                    <li><a href="#" alt="Ma messagerie"><i class="glyphicon glyphicon-envelope active"></i></a></li>
                    <li><a href="#" alt="Me déconnecter"><i class="glyphicon glyphicon-off omb-off"></i></a></li>
                </ul>
		    </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
	</nav>	
	<div class="row">
		<div class="col-lg-2">
			<p>
				<a class="navbar-brand omb-logo" href="#">
				    <img src="../../assets/images/logo-cofina.png" alt="Aller à l'accueil" />
				</a>
			</p>				
		</div>
		<div class="col-lg-5 col-lg-offset-5">
			<div class="omb-welcome-bloc">
				<h5>Bienvenue Mr Démo</h5>
				<p><span class="glyphicon glyphicon-calendar"></span> Dernière connexion le:<span class="omb-date">16/12/2016 à 17h20</span> </p>
				<div class=" omb-solde">
					<p>Solde : <span>4565</span></p>
				</div>
			</div><!-- omb-welcome-bloc -->		
       	</div>
    </div>

    <div class="entete-msg">
    	<div class="row">
    		<a href="tableau-de-bordV2.html" id="fermer">&times;</a> <a id="small" href="tableau-de-bordV2.html">Fermer</a>
    	</div>
		<div class="row ligne">
			<div class="col-lg-6 left">
				<span>Ma messagerie</span>		
			</div>
			<div class="col-lg-offset-3 col-lg-3 right">
				<span>29</span> <span id="small">messages </span> <span>| 3</span> <span id="small"> non lus</span>		
			</div>
		</div>
	</div>

</header>

<section>
	<div class="omb-container">
	 	<div class="row omb-no-margin">
		    <div class=" omb-no-padding">
				<div class="col-sm-3 omb-left-menu fixed">
					<div class="nav-side-menu">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							    <span class="sr-only">Toggle navigation</span>
							    <span class="icon-bar"></span>
							    <span class="icon-bar"></span>
							    <span class="icon-bar"></span>
						</button>

						<button type="submit" class="btn btn-primary" id="new-message"><a href="nouveau-message.html">Nouveau message</a></button>
				  
					   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					        <div class="menu-list">
					   			<ul id="menu-content">
					                <li class="active"><a id="btn-inbox"><i class="fa fa-inbox" aria-hidden="true"></i>Reçus</a></li>
					                <li><a id="btn-sent"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyés</a></li>
					                <li id="filtre" href="#MonCollapse" data-toggle="collapse">Filtrer par		                	
						            	<i class="fa fa-plus" aria-hidden="true"></i>						            	
					                </li>
					                <div id="MonCollapse" class="collapse">
					                	<form>	
						                	<li><input type="radio" name="radio">Conseiller</li>
										    <li><input type="radio" name="radio">Comptes</li>
										    <li><input type="radio" name="radio">Bons plans</li>
										</form>
									</div>						            
					            </ul><!-- menu-content -->
					        </div><!-- menu-list -->
					    </div>
				    </div><!-- nav-side-menu -->
				</div><!-- omb-left-menu -->
		   	</div><!-- omb-no-padding -->
	
			<div class="omb-content">
				<div class="row">
                    <table id="inbox" class="corps-msg">
                        <thead>
                            <tr>
                                <th id="long">Reçus</th>
                                <th id="tri"> 
                                    <form>
                                        <select>
                                            <option>Trier par <i class="fa fa-chevron-down" aria-hidden="true"></i></option>
                                            <option>Les plus récents</option>
                                            <option>Les plus anciens</option>
                                            <option>Lus</option>
                                            <option>Non lus</option>
                                            <option>Objet</option>
                                        </select>
                                    </form>
                                </th>
                                <th id="third"><a class="fa fa-trash" aria-hidden="true"></a></th>
                            </tr>
                        </thead>
                        <tbody>    
                            <tr>
                                <th colspan="3" id="annee">2017</th>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">Mme DUPONT / Agence Paris Exclusive</span><br/>
                                	<span id="object">Retrait CB</span><br/><br/>
                                	<i id="apercu">Bonjour Monsieur Démo, je fais suite à votre message concernant votre carte</i><br/><br/></a>
                                </td>
                                <td id="date">22 Avr</td>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">BNP Paribas</span><br/>
                                	<span id="object">Votre virement a été effectué</span><br/><br/>
                                	<i id="apercu">BNP Paribas</i><br/><br/></a>
                                </td>
                                <td id="date">19 Avr</td>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">BNP Paribas</span><br/>
                                	<span id="object">Opposition : confirmation de votre commande carte</span><br/><br/>
                                	<i id="apercu">BNP Paribas</i><br/><br/></a>
                                </td>
                                <td id="date">12 Avr</td>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">Mme DUPONT / Agence Paris Exclusive</span><br/>
                                	<span id="object">Retrait CB</span><br/><br/>
                                	<i id="apercu">Bonjour Monsieur Démo, je fais suite à votre message concernant votre carte</i><br/><br/></a>
                                </td>
                                <td id="date">10 Avr</td>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">BNP Paribas</span><br/>
                                	<span id="object">Votre virement a été effectué</span><br/><br/>
                                	<i id="apercu">BNP Paribas</i><br/><br/></a>
                                </td>
                                <td id="date">7 Avr</td>                                                                         
                            </tr>
                            <tr>
                                <td colspan="2" id="msg">
                                	<a><i class="fa fa-paperclip" aria-hidden="true"></i>
                                	<span id="sender">BNP Paribas</span><br/>
                                	<span id="object">Offre exclusive chez Sixt</span><br/><br/>
                                	<i id="apercu">Lorem ipsum dolor</i><br/><br/></a>
                                </td>
                                <td id="date">2 Avr</td>                                                                         
                            </tr>
                        </tbody>
                    </table>



			</div>
		</div>
	</div>
</section>

<script src="../../assets/bootstrap/js/npm.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	 
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/script.js"></script>

<script>
$(document).ready(function(){   
    $("#btn-sent").click(function(){
        $("#inbox").text("Welcome to the sentbox");
    });  

    $("#btn-inbox").click(function(){
        $("#sent").text("Welcome to the inbox");
    });

});
</script>

</div><!-- omb-wrapper -->
<footer>
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                           <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-footer" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                          </button>
                 
                        </div><!-- navbar-header -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-footer">
                            <ul class="nav navbar-nav navbar-center navbar-middle">
                               
                                <li><a href="#" >Visite guidée<span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Guide utilisateur</a></li>
                                <li><a href="#">Sécurité</a></li>
                                <li><a href="#">Mentions légales</a></li>
                                <li><a class="omb-copyright">&copy; Atos 2016</a ></li>
                                
                            </ul>
                           
                        </div><!-- /.navbar-collapse -->
                        
                     

                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>  
        </footer>  
</body>
</html>
