<!DOCTYPE html>
<html lang='fr'>
<head>
<title>Validation Virement ponctuel entre mes comptes</title>


<link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/css/style-desktop.css">
<link rel="stylesheet" href="../../assets/css/style-mobile.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,500i,700,700i" rel="stylesheet">
</head>
<body class="omb-internal omb-type-virement">
<div class="omb-wrapper">
<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-header" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			     
		    </div><!-- navbar-header -->


		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-collapse-header">
			     <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" alt="Voir profil"><i class="glyphicon glyphicon-user  active" ></i></a>
                            </li>
                             <li> 
                                <a href="#" alt="Mes contacts"><i class="glyphicon glyphicon-headphones" > </i></a>
                            </li>
                            <li> 
                                <a href="#" alt="Ma messagerie"><i class="glyphicon glyphicon-envelope" > </i></a>
                            </li>
                            <li> 
                                <a href="#" alt="Me déconnecter"><i class="glyphicon glyphicon-off omb-off" > </i></a>
                            </li>
			        
			     </ul>
		    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	
	<div class="row">
			<div class="col-lg-2">
			<p>
			 <a class="navbar-brand omb-logo" href="#">
			        <img src="../../assets/images/logo-cofina.png" alt="Aller à l'accueil" />
			      </a>
			 </p>
				
			</div>
		   <div class="col-lg-5 col-lg-offset-5">
			<div class="omb-welcome-bloc">
				<h2>Bienvenue Mr Démo</h2>
				<p><span class="glyphicon glyphicon-calendar"></span> Dernière connexion le:<span class="omb-date">16/12/2016 à 17h20</span> </p>
				<div class=" omb-solde">
					<p>Solde : <span>4565</span></p>
					<p>Crédit : <span>-23456</span></p>
				</div>
			</div><!-- omb-welcome-bloc -->
		
       </div>
    </div>

</header>

<section>
	<div class="omb-container">
	 <div class="row omb-no-margin">
	    <div class="col-sm-3 omb-no-padding">
			<div class="omb-left-menu fixed">
				<div class="nav-side-menu">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						    <span class="sr-only">Toggle navigation</span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					</button>
			  
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				        <div class="menu-list">
				   			<ul id="menu-content">
				                <li>
				                  <a href="#">
				                  <i class="fa fa-dashboard fa-lg "></i> Mon tableau de bord
				                  </a>
				                </li>
				                 <li >
				                  <a href="#mescomptes"><i class="fa fa-credit-card-alt fa-lg"></i>Mes comptes <span class="arrow"></span></a>
				               
					               
								<li class="active">
				                  <a href="#mesvirements"><i class="fa fa-exchange fa-lg"></i>Mes virements<span class="arrow"></span></a>
				                </li>  
					                
								<li>
				                  <a href="#mises-a-disposition"><i class="fa fa-car fa-lg"></i><span class="omb-text">Mes mises à disposition</span></a>
				                </li>
					               
				              
				                <li>
				                  <a href="#"><i class="fa fa-question-circle fa-lg"></i> Mes demandes </a>
				                </li>
				                <li>
				                  <a href="#"><i class="fa fa-ban fa-lg"></i> Mes annulations </a>
				                </li>
				            </ul><!-- menu-content -->
				        </div><!-- menu-list -->
				    </div>
			    </div><!-- nav-side-menu -->
			  </div><!-- omb-left-menu -->
	   	 </div>
	   <div class="col-sm-9 omb-no-padding">
	     <!-- les differents menu -->
		    <div class="omb-sous-menu collapse" id="mescomptes">
				   	<ul class="sub-menu " id="omb-compte">
						<li ><a href="solde-compte.html">Solde des comptes</a></li>
						<li><a href="historique-operations.html">Historique des operations</a></li>
						<li><a href="echeancier-credit.html">Echéancier de crédit</a></li>
						<li  class="active"><a href="ouverture-compte.html">Ouverture de compte</a></li>
					</ul>
			</div>
	        <div id="mesvirements" class=" omb-sous-menu ">
			   		<ul class="sub-menu " id="omb-virement">
						<li><a href="#">Entre mes comptes</a></li>
						<li class="active"><a href="#">Vers d'autres comptes</a></li>
						<li ><a href="#">Mes historiques</a></li>
						<li><a href="#">Mes béneficiaires</a></li>
					</ul>
			</div>
	        <div id="mises-a-disposition" class=" omb-sous-menu collapse">
				   	<ul class="sub-menu " id="omb-mise-a-disposition">
						<li>Disposition 1</li>
						<li>Disposition 2</li>
						<li>Disposition 3</li>
					</ul>
		    </div>
		    <div class="omb-sous-menu-virement">
                      <ul class="nav nav-pills">
                        <li role="presentation" ><a href="ponctuel-entre-mes-comptes.html">Virement ponctuel</a></li>
                        <li role="presentation" class="active"><a href="permanent-entre-mes-comptes.html">Virement permanent</a></li>
                      </ul>
                      
                    </div>

		    <!-- ./les differents menu -->

		    <!--contenu -->
		    <div class="omb-content">
                    <form role="form">
                        <div class="row">
                        	<div class="col-lg-12 omb-resume-virement">
                        		<div class="col-lg-5 omb-resume-compte">
                        			<strong>COMPTE COURANT </strong>
                        			<p>25011 00500 05001234564 90</p>
                        		</div>
                        		<div class="col-lg-5 col-lg-offset-1 omb-resume-compte">
                        			<strong>COMPTE EPARGNE </strong>
                        			<p>25011 00500 05009874537 90</p>
                        		</div>
                        	</div>   
                        </div> 
                        <div class="row">
                        	<div class="col-lg-12 omb-resume-virement">
                        		<div class="col-lg-6 omb-resume-date">
                        			<strong>Montant et date du virement </strong>
                        			<p>500 000 XOF  28/12/2016</p>
                        		</div>
                        		<div class="col-lg-5  omb-resume-motif">
                        			<strong>Motif </strong>
                        			<p>Virement</p>
                        		</div>
                        	</div>
                          
                        </div>
                        
                       
                                <div class="row">
                        	<div class="col-lg-offset-7 col-lg-5 omb-recapitulatif">
                        		<div class="wrapper">
                        			<div class="form-group ">
                        				<button class="btn btn-primary omb-btn1">Modifier</button>
                        				<button class="btn btn-primary omb-btn2"><a href="confirmation-virement-permanent-vers-autres-comptes.html">Confirmer</a></button>
                        			</div>
                        		</div>
                        	</div>

                        </div>
                       
                   </form>
               </div><!-- omb-content -->

	        <!--  ./contenu -->


	    </div><!-- col-sm-9 -->
	  </div><!-- row-->
	</div><!-- omb-container -->
</section>

<footer>
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				  

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="navbar-collapse-footer">
					      <ul class="nav navbar-nav navbar-center navbar-middle">
					       
					         <li class="active"><a href="#" >Visite guidée<span class="sr-only">(current)</span></a></li>
					        <li><a href="#">Guide utilisateur</a></li>
					        <li><a href="#">Sécurité</a></li>
					        <li><a href="#">Mentions légales</a></li>
					        
					      </ul>
					       <ul class="nav navbar-nav navbar-right">
					     <li><a class="navbar-brand omb-logo" href="#">
					        <img src="../../assets/images/logo-cofina.png" alt="Aller à l'accueil" />
					      </a></li>
					       
					    </ul>
				    
					     
				    </div><!-- /.navbar-collapse -->
				    <span class="omb-copyright">&copy; Atos 2016</span>

				      <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-footer" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					     
				    </div><!-- navbar-header -->

			  </div><!-- /.container-fluid -->
			</nav>	
		</div>
    </div>
  	
</footer>  

<script src="../../assets/bootstrap/js/npm.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	 
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/script.js"></script>
</div><!-- omb-wrapper -->
</body>
</html>
