@font-face {
  font-family: 'roboto regular';
   src: url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'),
      
      
}
/** font clair **/
@font-face {
  font-family: 'roboto light';
    src:  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic.ttf')  format('truetype');
    }

   @font-face {
  font-family: 'roboto thin';
    src:   url('../fonts/roboto/Roboto-Thin.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic.ttf')  format('truetype');
    }

    /** font medium */
@font-face {
  font-family: 'roboto medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic.ttf')  format('truetype');
    }

/* font bold */
@font-face {
  font-family: 'roboto bold';
    src:   url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BoldItalic.ttf')  format('truetype');
    }

 @font-face {
  font-family: 'roboto black';
    src:   url('../fonts/roboto/Roboto-Black.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BlackItalic.ttf')  format('truetype');
    }




body#omb-login-page{
	background-image:url('../images/login_bg.png') ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;
	overflow-x: hidden; 
	font-family: 'roboto thin', 'sans-serif';
	font-size: 16px;
	
}
#omb-login-page header{
	height: 50px;
}

#omb-login-page header .navbar-default{
	background:#000;
	opacity: .62;
	border:none;
	border-radius:0;
}

#omb-login-page header .navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}

header .omb-logo,
 header .navbar-header:hover{
	padding: 0;
	background: #fafafa;
	opacity:1;
}

.navbar-brand img{
	width: 70%;
}
#omb-login-page header .navbar-default .navbar-nav>li>a{
	color:#fff;
	font-family:'Roboto-Bold', sans-serif;
	border-right: 1px solid rgba(255,255,255,.5);
	opacity:1;
}
#omb-login-page header .navbar-right li a{
	border:none !important;

}
#omb-login-page header .navbar-default .navbar-nav>li>a:hover{
	color:#b10021;
}


#omb-login-page .navbar-default .navbar-nav>.active>a, 
#omb-login-page .navbar-default .navbar-nav>.active>a:focus,
#omb-login-page .navbar-default .navbar-nav>.active>a:hover{
 	background:#b10021;
 	color:#fff;
 }


 /*
 ** login bloc 
 */
 #omb-login-page #omb-content{
 	margin-top: 5%;
 }
#omb-login-page #omb-content .omb-login-bloc{
 	background:rgba(0,0,0, .62);
 	padding: 2% 0;
 	text-align: center;
 }
 #omb-login-page #omb-content .omb-container-login{ opacity:1; }
  #omb-login-page #omb-content h2{
  	color:#e3212e;
  	text-transform: uppercase;
  	opacity:1;
  	font-size:1.5em;
  	margin-bottom: 30px;
  	font-family: 'Roboto-Bold', sans-serif;
  }
  #omb-login-page #omb-content label{
   	color:#fff;
   	font-size:1.2em;
  
   }
  #omb-login-page #omb-content .form-control{
   	height: 40px;
   	border:1px solid #fff;
   	background:#fff;
   	opacity:1;
   	border-radius:0;
   	width: 70%;
   	margin: 10px auto ;
   	color:#b20;
   	padding-left: 42.5px;
   }


   /** icon dans champ input **/

  #omb-login-page .has-feedback label~.form-control-feedback{
   	top: 45px;
   }
  #omb-login-page .form-control-feedback{
   	left: 15%;
   }

   /**texte help champ input **/

 #omb-login-page  #omb-content .text-muted{
   	color:#fff;
  }
  small{
  	font-size: 63%;
  	text-align: left !important;
  	display: none;
  }



 #omb-login-page  #omb-content .omb-pave {
	text-align: left;
	list-style: none;
	background:#000;
	
	width: 70%;
	margin: 30px auto 0;
	padding: 0;
}
#omb-login-page #omb-content .omb-pave .ligne{
 	margin: 0;
 }
#omb-login-page  #omb-content .omb-pave div{
 	background:#fff;
    text-align: center;
 	border-bottom:1px solid rgba(0,0,0,.62);
 	border-right:1px solid rgba(0,0,0,.62);
 	 height: 45px;
 	 line-height: 45px;
 	 vertical-align: middle;
}
 #omb-login-page  #omb-content .omb-pave div a{
   	text-decoration: none;
   	font-size: 1.2em;
   	color:#e3212e;
   	font-weight: 700;
   }
   /** bouton valider **/
#omb-login-page     #omb-content .omb-login-bloc .submit-button{
     	background:#e3212e;
     	color:#fff;
     	text-transform: uppercase;
     	text-align: center;
     	width: 70%;
     	border:none;
     	font-size:1.2em;
     	margin-bottom: 20px;
     	font-weight: 700;
     }
#omb-login-page #omb-content .omb-login-bloc .submit-button:hover{
      	background:#fff;
      	 color:#e3212e;
      }

     /** lien d'oubli mot de passe */
#omb-login-page #omb-content .omb-login-bloc .omb-oubli-connexion a{
      	color:#fff;
      font-size: 1em;
      text-decoration:underline;
      }
#omb-login-page #omb-content .omb-login-bloc .omb-oubli-connexion a:hover{
      	color:#e3212e;
      }
/*
**********  Page ouverture compte ******************
*/
/* header */
#omb-ouverture-compte .navbar-default,
 #omb-ouverture-compte .omb-logo{
	background: transparent;
	border:none;
 }

  #omb-ouverture-compte .glyphicon:before{
  	font-size: 1.5em;
  }

   #omb-ouverture-compte  .omb-welcome-bloc{
 /*   	background:#e8e6e6; */
   	    background-image: -webkit-linear-gradient(right,#5f6062,#e8e6e6);
   	border:1px solid #e8e6e6;
   	    -webkit-box-sizing: border-box;
   	   /*  box-shadow: 1px 2px 1px #e8e6e6; */
   	   position:relative;
   	   display: block;
   }
   #omb-ouverture-compte  .omb-welcome-bloc:before {
	top: 10px;
	left: 8px;
	width: 50%;
	height: 130px;
	position: absolute;
	
	box-shadow: -7px 0 10px #555;
	transform: rotate(-5deg);
}
 #omb-ouverture-compte  .omb-welcome-bloc:after { display: none; }

