@font-face {
  font-family: 'roboto regular';
   src: url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'),
      
      
}
/** font clair **/
@font-face {
  font-family: 'roboto light';
    src:  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic.ttf')  format('truetype');
    }

   @font-face {
  font-family: 'roboto thin';
    src:   url('../fonts/roboto/Roboto-Thin.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic.ttf')  format('truetype');
    }

    /** font medium */
@font-face {
  font-family: 'roboto medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic.ttf')  format('truetype');
    }

/* font bold */
@font-face {
  font-family: 'roboto bold';
    src:   url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BoldItalic.ttf')  format('truetype');
    }

 @font-face {
  font-family: 'roboto black';
    src:   url('../fonts/roboto/Roboto-Black.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BlackItalic.ttf')  format('truetype');
    }

body{
  background:#f5f5f5; 
  color:#000;
  
  font-family: 'Roboto-Bold', 'sans-serif';
  max-width: 80%;
  width:100%;
  margin:0 auto;
}
/** header**/
#omb-dashboard .omb-header li a{
    font-size:25px;
}
 .omb-homepage .omb-menu{
    background-color: #fff;
    border:none;
}
header .navbar-default{
    background-color: transparent;
    border: none;
}

#omb-dashboard .omb-header li a:hover{
    color: #9F2528;
}
.omb-infos .omb-welcome p{
    color:#E3212E;
    font-weight:bold;
   padding-left: 112px;
}
/** détails**/
.omb-infos{
    float:right;
    margin-right:29px;
}
.omb-infos small{
    padding:10px 20px;
}
.omb-infos .omb-details .omb-details-compte{
    padding-left:48px;
    padding-top:10px;
}
.omb-infos  .omb-details{
    display: table-cell;
    border:1px solid #404040;
    background-color: #E9E7E7;
    padding-top:10px;
    padding-bottom:10px;
}
/** menu**/
.omb-homepage .omb-menu ul{
    background-color: #DCDCDC;
    height:500px;
}
.omb-homepage .omb-menu{
    padding-top:50px;
    padding-left:0;
    
}
.omb-homepage .omb-menu ul li a{
    color:#000;
     
}
.omb-homepage .omb-menu .nav-pills li a {
    border:none;
    border-radius: 0px;
}
.omb-homepage .omb-menu .nav-pills li a .fa{
    font-size: 13px;
}
.omb-homepage .omb-contenu .omb-compte .fa-close:before,
.omb-homepage .omb-contenu .omb-virement .fa-close:before,
.omb-homepage .omb-contenu .omb-message .fa-close:before,
.omb-homepage .omb-contenu .omb-carte .fa-close:before{
    color: white;
    padding: 5px;
}
.omb-homepage .omb-contenu .omb-compte .omb-header .fa,
.omb-homepage .omb-contenu .omb-virement .omb-header .fa,
.omb-homepage .omb-contenu .omb-message .omb-header .fa,
.omb-homepage .omb-contenu .omb-carte .omb-header .fa,
.omb-homepage .omb-contenu .omb-compte .omb-footer .fa{
    padding-right: 10px;
}
.omb-homepage .omb-menu .nav-pills li a:hover,
.omb-homepage .omb-menu .nav-pills li a:focus,
.omb-homepage .omb-menu .nav-pills li a:active{
    background-color: #9F2528;
    color:white;
}
/**contenu **/
.omb-homepage .omb-contenu h2{
    margin-top:53px;
}
.omb-homepage .omb-pub{
    margin-top: 30px;
}
.omb-homepage .omb-contenu .btn-red{
    float: right;
    background-color: #9F2528;
    color:#fff;
    margin-bottom: 60px;
}
.omb-homepage .omb-contenu .omb-compte,
.omb-homepage .omb-contenu .omb-message,
.omb-homepage .omb-contenu .omb-virement,
.omb-homepage .omb-contenu .omb-carte
{
    padding-left: 0;
    padding-right: 0;
}
.omb-homepage .omb-contenu .omb-compte{
    border:1px solid #9F2528;
}
.omb-homepage .omb-contenu .omb-message{
    border:1px solid #1485CC;
    margin-left: 15px;
    margin-bottom: 15px;
}
.omb-homepage .omb-contenu .omb-virement{
    border:1px solid #00B233;
    margin-left: 15px;
    margin-bottom: 15px;
}
.omb-homepage .omb-contenu .omb-carte{
    border:1px solid #FF0DFF;
    margin-left: 15px;
    margin-bottom: 15px;
}
.omb-homepage .omb-contenu .omb-compte .omb-header{
    background-color: #9F2528;
}

.omb-homepage .omb-contenu .omb-compte .omb-header,
.omb-homepage .omb-contenu .omb-virement .omb-header,
.omb-homepage .omb-contenu .omb-message .omb-header,
.omb-homepage .omb-contenu .omb-carte .omb-header{
    color:#fff;
    padding-left: 7px;
}

.omb-homepage .omb-contenu .omb-virement .omb-header{
    background-color: #00B233;
}
.omb-homepage .omb-contenu .omb-message .omb-header{
    background-color: #1485CC;
}
.omb-homepage .omb-contenu .omb-carte .omb-header{
    background-color:#FF0DFF;
}

.omb-homepage .omb-contenu .omb-compte table td,
.omb-homepage .omb-contenu .aucun
{
    padding:5px 5px;
}
.omb-homepage .omb-contenu .omb-compte table td a{
    color:#000;
}
.omb-homepage .omb-contenu .omb-compte table tr,
.omb-homepage .omb-contenu .omb-virement table tr,
.omb-homepage .omb-contenu .omb-message table tr,
.omb-homepage .omb-contenu .omb-carte table tr{
    border-bottom: 1px solid #ccc;
}
.omb-homepage .omb-contenu .omb-compte .omb-footer a{
    color:#9F2528;
    font-size:13px;
    font-family: 'Roboto-Bold', sans-serif;
}
.omb-homepage .omb-contenu .omb-compte .omb-footer{
    margin-top: 10px;
    padding-left: 5px
}
footer{
    background-color: #DCDCDC; 
}
footer .omb-liens ul li{
    display: inline-block;
}
footer .omb-liens ul li a{
   color:#000;
}
footer .omb-liens ul{
    margin-top:10px;
    text-align: center;
}
footer .omb-liens p{
    text-align:center;
}

/** Page administration**/

.omb-user .navbar-default .navbar-nav li a{
    font-size:15px;
    font-family: 'Roboto-Bold', sans-serif;
}
.omb-user .navbar-default .navbar-nav li a:hover{
    color: #9F2528;
}
.omb-user .navbar-default .navbar-nav li a span:before{
    margin-right:5px;
}
.omb-user .navbar-default .navbar-collapse{
    margin-top: 13px;
    background-color: transparent;
}
.omb-usermanagement{
    margin-top: 80px;
}#omb-gestionuser, #omb-dashboard{
    background-color: #fff;
}
.omb-usermanagement .btn-red{
    background-color: #9F2528;
    color:#fff;
    margin-bottom: 20px;
}
.omb-usermanagement table {
    webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -ms-box-shadow: 0 0 10px #ccc;
    -o-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.omb-usermanagement table tr{
    font-size: 13px;
}.omb-usermanagement table thead{
    background-color: #B7B8BC;
}
.omb-usermanagement table tbody .btn-green{
    background-color: #59A61F;
    padding: 0 8px;
    color: #fff;
}
.omb-usermanagement table tbody .btn-blue{
    background-color: #1485CC;
    padding: 0 5px;
    color: #fff;
}
.omb-usermanagement table tbody  .glyphicon{
    color:#9F2528;
}
.omb-usermanagement .omb-pagination{
    text-align: center;
}
.omb-usermanagement .omb-pagination ul li a{
    color:#000;
}
.omb-usermanagement .omb-pagination ul li:hover{
    background-color:#9F2528;
    color: #9F2528;
}
.omb-usermanagement .omb-pagination ul li .activate{
    background-color:#323232;
    color:#fff;
}
.omb-container{
    margin-left: 30px;
    margin-right: 30px;
}
.omb-contain{
    margin: 30px;
}