/** Historique des opérations **/
 .omb-internal .omb-content .omb-historique{
        border:1px solid rgba(0,0,0,.25);
        margin: 1% 0 5%;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.25);
        box-sizing: border-box;
        
     }
     .omb-internal .omb-content .omb-historique h3{
        background:#dcdcdc;
        margin: 0;
        padding:2% 1%;
        text-transform: uppercase;
        font-size: 1.3em;
        color:#b10021;

    }
 .omb-internal .omb-content .omb-historique label {
    margin-right: 22%;
}
.omb-internal .omb-content .omb-historique .periode {
    margin-right: 40%;
}
.omb-internal .omb-content .omb-historique .date {
    margin-right: 5%;
}
.omb-internal .omb-content .omb-historique .omb-date {
    margin-left: 10%;
}

.omb-internal .omb-content .omb-historique .form-control {
    display: inline-block;
    width: 45%;
}
.omb-internal .omb-content .omb-historique .wrapper {
    margin: 20px 0 10px;
    padding: 0 2%;
}
.omb-internal .omb-content .omb-historique select {
    background: #5f6062;
    color: #fff;
}
.omb-internal .omb-content .omb-historique .entete {
    margin-bottom: 10px;
}
.omb-internal .omb-content .omb-historique .milieu{
    margin-left: 296px; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.omb-internal .omb-pagination,
.omb-internal .omb-pagination{
    text-align: center;
}
.omb-internal .omb-pagination ul li a,
.omb-internal .omb-pagination ul li a{
    color:#000;
}
.omb-internal .omb-pagination ul li:hover,
.omb-internal .omb-pagination ul li:hover{
    background-color:#9F2528;
    color: #9F2528;
}
.omb-internal .omb-pagination ul li .activate,
.omb-internal .omb-pagination ul li .activate{
    background-color:#323232;
    color:#fff;
}
.omb-internal .omb-button{
    margin-top: 20px;
    margin-bottom: 40px;
}