@media (max-width: 768px){
	
	header .navbar-default
	{
		background:transparent;
		opacity:1;
		width: 90%;
		margin:0 auto;
	}
	header .omb-logo,
    header .navbar-header:hover{
		background: transparent;
	
   }

   .navbar-brand img{
	width: 80%;
   }

  	#omb-login-page header .navbar-default .navbar-collapse{
   	     background: #000;
       opacity: .62;
      text-align: center;
      border: none;
      margin-left: 0;
		height: auto !important;
   }  
   .navbar-default .navbar-toggle,
   .navbar-default .navbar-toggle:focus, 
   .navbar-default .navbar-toggle:hover{
    border-color: #5f6062;
    background: #5f6062;
    opacity: 1;
    }

    .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
   }


}/** end media 768px **/


/** small devices **/

@media (max-width:468px){
	.navbar-brand img{
		width: 55%;
	}
	#omb-content{
		margin-top: 10%;
	}

	#omb-content h2{
		font-size: 1em; 
		margin-bottom: 15px;
	}
	#omb-content label{
		font-size: 0.8em;
	}
	#omb-content .form-control{
		height: 30px;
	}
	/*icone input */
	.has-feedback label~.form-control-feedback {
		top: 33px;
	}
	#omb-content .omb-pave div{
		height: 35px;
		line-height: 35px;
	}
	#omb-content .omb-login-bloc .submit-button{
		font-size: 1em;
	}
	#omb-content .omb-login-bloc .omb-oubli-connexion a{
		font-size: 0.8em;
	}
}