@font-face {
  font-family: 'roboto regular';
   src: url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'),
      
      
}
/** font clair **/
@font-face {
  font-family: 'roboto light';
    src:  url('../fonts/roboto/Roboto-Light.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic.ttf')  format('truetype');
    }

   @font-face {
  font-family: 'roboto thin';
    src:   url('../fonts/roboto/Roboto-Thin.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic.ttf')  format('truetype');
    }

    /** font medium */
@font-face {
  font-family: 'roboto medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic.ttf')  format('truetype');
    }

/* font bold */
@font-face {
  font-family: 'roboto bold';
    src:   url('../fonts/roboto/Roboto-Bold.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BoldItalic.ttf')  format('truetype');
    }

 @font-face {
  font-family: 'roboto black';
    src:   url('../fonts/roboto/Roboto-Black.ttf')  format('truetype'),
        url('../fonts/roboto/Roboto-BlackItalic.ttf')  format('truetype');
    }



/* ============================================================================================================================
== Page login
** ============================================================================================================================ */

.omb-wrapper{
	width: 80%;
	margin:auto;

}
body#omb-login-page{
	background-image:url('../images/login_bg.png') ;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;
	overflow-x: hidden; 
	font-family: 'roboto thin', 'sans-serif';
	font-size: 16px;
	
}
#omb-login-page header{
	height: 50px;
	margin-top: 10px;
}

#omb-login-page header .navbar-default{
	background:transparent;
	/* opacity: .62; */
	border:none;
	border-radius:0;
}

#omb-login-page header .navbar-default .navbar-collapse{
	    border: none;
    background: rgba(0,0,0,.62);
    margin-left: 22.7%;
    height: 30px !important;
    margin-top: 15px;
    padding-left: 0;
}

header .omb-logo,
 header .navbar-header:hover{
	padding: 0;
	background:transparent;
	opacity:1;
}

.navbar-brand img{
	width: 90%;
}
#omb-login-page header .navbar-default .navbar-nav>li>a{
	color:#fff;
	font-family:'Roboto-Bold', sans-serif;
	border-right: 1px solid rgba(255,255,255,.5);
	height: 30px;
	padding: 5px 15px;

}
#omb-login-page header .navbar-right li a{
	border:none !important;
   
}
#omb-login-page header .navbar-right li a{
	padding: 0px 15px !important;
}
#omb-login-page header .navbar-default .navbar-nav>li>a:hover{
	color:#b10021;
}


#omb-login-page .navbar-default .navbar-nav>.active>a, 
#omb-login-page .navbar-default .navbar-nav>.active>a:focus,
#omb-login-page .navbar-default .navbar-nav>.active>a:hover{
 	background:#b10021;
 	color:#fff;
 }


 /*
 ** login bloc 
 */
 #omb-login-page #omb-content{
 	margin-top: 8%;
 }
#omb-login-page #omb-content .omb-login-bloc{
 	background:rgba(0,0,0, .62);
 	padding: 1% 0;
 	text-align: center;
 	border-radius: 5px;
  box-shadow: 0 2px 4px #000; 
 }
 #omb-login-page #omb-content .omb-container-login{ opacity:1; }
  #omb-login-page #omb-content h2{
  	color:#e3212e;
  	text-transform: uppercase;
  	opacity:1;
  	font-size:1.3em;
  	margin-bottom: 30px;
  	font-family: 'Roboto-Bold', sans-serif;
  }
  #omb-login-page #omb-content label{
   	color:#fff;
   	font-size:1em;
  
   }
  #omb-login-page #omb-content .form-control{
   	height: 30px;
   	border:1px solid #fff;
   	background:#fff;
   	opacity:1;
   	border-radius:0;
   	width: 60%;
   	margin: 5px auto ;
   	color:#b20;
   	padding-left: 42.5px;
   }


   /** icon dans champ input **/

  #omb-login-page .has-feedback label~.form-control-feedback{
   	top: 38px;
   }
  #omb-login-page .form-control-feedback{
   	left: 20%;
   }

   /**texte help champ input **/

 #omb-login-page  #omb-content .text-muted{
   	color:#fff;
  }
  small{
  	font-size: 63%;
  	text-align: left !important;
  	display: none;
  }



 #omb-login-page  #omb-content .omb-pave {
	text-align: left;
	list-style: none;
	background:#000;
	width: 60%;
	margin: 20px auto 0;
	padding: 0;
}
#omb-login-page #omb-content .omb-pave .ligne{
 	margin: 0;
 }
#omb-login-page  #omb-content .omb-pave div{
 	background:#fff;
    text-align: center;
 	border-bottom:1px solid rgba(0,0,0,.62);
 	border-right:1px solid rgba(0,0,0,.62);
 	 height: 45px;
 	 line-height: 45px;
 	 vertical-align: middle;
}
 #omb-login-page  #omb-content .omb-pave div a{
   	text-decoration: none;
   	font-size: 1.2em;
   	color:#e3212e;
   	font-weight: 700;
   }
   /** bouton valider **/
#omb-login-page     #omb-content .omb-login-bloc .submit-button{
     	background:#e3212e;
     	color:#fff;
     	text-transform: uppercase;
     	text-align: center;
     	width: 60%;
     	letter-spacing: 1.2px;
     	border:none;
     	font-size:1em;
     	margin-bottom: 20px;
     	font-weight: 700;
     }
#omb-login-page #omb-content .omb-login-bloc .submit-button:hover{
      	background:#fff;
      	 color:#e3212e;
      }

     /** lien d'oubli mot de passe */
#omb-login-page #omb-content .omb-login-bloc .omb-oubli-connexion a{
      	color:#fff;
      font-size: 0.8em;
      text-decoration:underline;
      }
#omb-login-page #omb-content .omb-login-bloc .omb-oubli-connexion a:hover{
      	color:#e3212e;
      }

/* ============================================================================================================================
== Page ouverture compte
** ============================================================================================================================ */
 

 .omb-no-padding{
 	padding:0;
 }
  .omb-no-margin{
  	margin: 0;
  }

body#omb-ouverture-compte{
	overflow-x:hidden; 

}
#omb-ouverture-compte .omb-wrapper{
	 /*    box-shadow: 0 0 10px #ccc; */
  
      background:#fff;
       box-shadow: 10px 10px 5px #888888,-10px -10px 5px #888888;
    /*     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow:0 3px 8 0 rgba(0,0,0,0.2), 0 0 0 1px rgba();
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1); */
}
/* header */
#omb-ouverture-compte .navbar-default,
 #omb-ouverture-compte .omb-logo{
	background: transparent;
	border:none;
 }

  #omb-ouverture-compte .glyphicon:before{
  	font-size: 1.5em;
  }

   #omb-ouverture-compte  .omb-welcome-bloc{
	 background:rgba(92,0,20,.7);
	/* -moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	 box-shadow: 0px 4px 6px #333; */
	     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transform:rotate(-3deg);
      -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
     transform: rotate(-3deg); 
	padding: 5px 20px;
	float:right;
	display: inline-block;
	text-align: center;
	color:#fff; 
	border-radius:5px;
   }

   #omb-ouverture-compte  .omb-welcome-bloc .omb-date{
    	font-weight: 700;
    	
    }
    #omb-ouverture-compte  .omb-welcome-bloc .omb-solde p{
     	display: inline-block;
     	padding:0 20px;
     }
   #omb-ouverture-compte  .omb-welcome-bloc .omb-solde p:first-child{
   	border-right:1px solid rgba(255,255,255,.5);
   }
    #omb-ouverture-compte  .omb-welcome-bloc .omb-solde p span{
    	font-weight: 700;
    }

   #omb-ouverture-compte section{
   	margin-top: 5%;
   } 
   /*  ./header */ 

  /** left menu + horizontal sous menu**/
	#omb-ouverture-compte .omb-container .omb-left-menu{
		height: 100vh;
	}
     #omb-ouverture-compte .omb-container .omb-left-menu,
      .omb-container .omb-sous-menu {
     	background:rgba(95,96,98,0.2);
     	padding: 1% 0;

     }
      .omb-container .omb-sous-menu {
      	padding: 0;
      }
    #omb-ouverture-compte .omb-container .omb-left-menu ul,
  #omb-ouverture-compte .omb-container  .omb-left-menu li,
   .omb-container .omb-sous-menu ul,
    .omb-container .omb-sous-menu ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
 cursor: pointer;

}
 .omb-container .omb-sous-menu ul{
 	height: 47px;
 	display: table;
 	width: 100%;
 }

.omb-container .omb-sous-menu ul li{
	display: table-cell;
	width: 25%;
    border-right: 1px solid rgba(95,96,98,.3);
    text-align: center;
    vertical-align: middle;
}
 .omb-container .omb-sous-menu ul li:last-child {
     	border-right:none;
     }
.omb-container .omb-sous-menu ul li.active,
  #omb-ouverture-compte .omb-container  .omb-left-menu li.active{
	background:#b10021;
	position:relative;
	
}
.omb-container .omb-sous-menu ul li.active:after{
	content: "";
    position: absolute;
    bottom: -15px;
    left: 45%;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #b10021 transparent;
    display: block;
    width: 0;
}
.omb-container .omb-sous-menu ul li.active a,
  #omb-ouverture-compte .omb-container  .omb-left-menu li.active a{
	color:#fff;
}
/* .omb-container .omb-sous-menu ul li.active a:after{
	content:"123";
} */
  #omb-ouverture-compte .omb-container  .omb-left-menu .navbar-collapse{
  	padding-right: 0;
  }

  #omb-ouverture-compte .omb-container  .omb-left-menu li a,
  .omb-container .omb-sous-menu ul li a{
  	text-transform: uppercase;
  	color:#000;
  	transition:all .6s ease;
  	letter-spacing: 2px;
  	overflow: hidden;
    border-bottom:1px solid rgba(95,96,98,.3);
  	text-decoration: none;
  	padding: 12px 0px 12px 13px;
  	margin: 0px 0 12px 0;
  	display: block;
  	position: relative;
}
  #omb-ouverture-compte .omb-container  .omb-left-menu li:last-child a{
  	border-bottom:none;
  }

    .omb-container .omb-sous-menu ul li a{
    	border-bottom:none;
        text-transform:none;
    	 padding:0;    	
    	 margin-bottom:0px;
    }
    
   #omb-ouverture-compte .omb-container  .omb-left-menu li a:hover{
				background-color:rgba(95,96,98,.4);
                 border-color:#fff;
			}
	#omb-ouverture-compte .omb-container  .omb-left-menu li a:after{
				content: '';
				display: block;
				width: 10px; height: 100px;
				position: absolute;
				top: 0;left: -10px;
				background:#b10021;
				transition:left .5s ease;
			}

	#omb-ouverture-compte .omb-container  .omb-left-menu li a:hover:after{
				left: 0;
			}

 #omb-ouverture-compte .omb-container  .omb-left-menu li a i{
 	padding-right: 2%;
 }



 /**  ./left menu + horizontal sous menu**/



