<!DOCTYPE html>
<html lang='fr'>
	<head>
		<title>Confirmation Mot de passe oublié</title>
		<META charset="utf-8">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/css/style-desktop.css">
		<link rel="stylesheet" href="../assets/css/style-mobile.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,500i,700,700i" rel="stylesheet">
	</head>
	<body id="omb-login-page">
		<div class="omb-overlay">
			<div class="omb-wrapper">
				<section id="omb-content">
					<div class="row ">
						<div class=" col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-sm-8 
	col-xs-offset-2 col-sm-offset-2 ">	
							<div class="omb-login-bloc">
								<div class="omb-container-login">
									
									<div>
										<p class="titre">Un code vous sera envoyé via mail</p>
									</div>
									 <button type="submit" class=" submit-button btn btn-primary">Retour</button>
								</div>
							</div>
						</div>
					</div>
				</section>

					<script src="../assets/bootstrap/js/npm.js"></script>
					 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	 
					<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
					<script src="../assets/js/script.js"></script>
			</div>
		</div> <!-- ./overlay -->
	</body>
</html>