<!DOCTYPE html>
<html lang='fr'>
	<head>
		<title>Identifiant oublié</title>
		<META charset="utf-8">
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/css/style-desktop.css">
		<link rel="stylesheet" href="../assets/css/style-mobile.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,500i,700,700i" rel="stylesheet">
	</head>
	<body id="omb-login-page">
		<div class="omb-overlay">
			<div class="omb-wrapper">
				<section id="omb-content">
					<div class="row ">
						<div class=" col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-md-6 col-md-offset-3 col-xs-12 col-sm-8 
	col-xs-offset-2 col-sm-offset-2 ">	
							<div class="omb-login-bloc">
								<div class="omb-container-login">
									<h2>Identifiant oublié</h2>
									<form>
									  <div class="form-group has-feedback ">
										    <label for="num-client" class="control-label">Nom</label>
										     <span class="form-control-feedback fa fa-pencil"></span>
								            <input type="text" class="form-control" id="num-client" aria-describedby="num-client" >
										    
										    <small id="omb-num-client-help" class="form-text text-muted">Veuillez renseigner votre nom</small>
									  </div>
									  <div class="form-group has-feedback ">
										    <label for="num-client" class="control-label">Prénom</label>
										     <span class="form-control-feedback fa fa-pencil"></span>
								            <input type="text" class="form-control" id="num-client" aria-describedby="num-client" >
										    
										    <small id="omb-num-client-help" class="form-text text-muted">Veuillez renseigner votre prénom</small>
									  </div>
									   <div class="form-group has-feedback ">
										    <label for="num-client" class="control-label">Adresse mail</label>
										     <span class="form-control-feedback fa fa-envelope"></span>
								            <input type="text" class="form-control" id="num-client" aria-describedby="num-client" >
										    
										    <small id="omb-num-client-help" class="form-text text-muted">Veuillez renseigner votre adresse mail fournie lors de la création du compte</small>
									  </div>
									    <div class="form-group has-feedback omb-num ">
										    <label for="num-client" class="control-label">Numéro de téléphone</label>
										     <span class="form-control-feedback fa fa-phone"></span>
								            <input type="text" class="form-control" id="num-client" aria-describedby="num-client" >
										    
										    <small id="omb-num-client-help" class="form-text text-muted">Veuillez renseigner votre numéro de téléphone fourni lors de la création du compte</small>
									  </div>
			 
   									  <button type="submit" class=" submit-button btn btn-primary">Valider</button>
							 		</form>
								</div>
							</div>
						</div>
					</div>
				</section>

					<script src="../assets/bootstrap/js/npm.js"></script>
					 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	 
					<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
					<script src="../assets/js/script.js"></script>
			</div>
		</div> <!-- ./overlay -->
	</body>
</html>