<!DOCTYPE html>
<html lang='fr'>
<head>
<title>Page login</title>


<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/css/style-desktop.css">
<link rel="stylesheet" href="../assets/css/style-mobile.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,500i,700,700i" rel="stylesheet">
</head>
<body id="omb-login-page">

<div class="omb-wrapper">

<header>
<div class="omb-container-header">
<div class="row">
<div class="col-12">
<nav class="navbar navbar-default">
  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand omb-logo" href="#">
		        <img src="../assets/images/logo-cofina.png" alt="Aller à l'accueil" />
		      </a>
	    </div><!-- navbar-header -->


	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-center navbar-middle">
		        <li class="active"><a href="#">Accueil<span class="sr-only">(current)</span></a></li>
		         <li><a href="#">Visite guidée</a></li>
		        <li><a href="#">Guide utilisateur</a></li>
		        <li><a href="#">Sécurité</a></li>
		        <li><a href="#">Mentions légales</a></li>
		        
		      </ul>
	    
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#" alt="Ouvrir un nouveau compte"><span class="fa fa-user fa-2x"></span></a></li>
		        
		     </ul>
	    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	
</div>
</div>

</div><!-- omb-container-header -->
</header>
<section id="omb-content">
	<div class="row ">
	<div class=" col-xs-offset-2 col-sm-offset-2 col-md-offset-4 col-xs-8 col-sm-8 col-md-4 
	col-xs-offset-2 col-sm-offset-2 col-md-offset-4 ">
		
	<div class="omb-login-bloc">
		<div class="omb-container-login">
		<h2>Accéder à vos comptes</h2>
		<form>
		  <div class="form-group has-feedback ">
		    <label for="num-client" class="control-label">Numéro Client</label>
		     <span class="form-control-feedback fa fa-pencil"></span>
            <input type="text" class="form-control" id="num-client" aria-describedby="num-client" placeholder="identifiant">
		    
		    <small id="omb-num-client-help" class="form-text text-muted">Veuillez renseigner vos Ids de connexion en chiffres</small>
		  </div>
			 <div class="form-group has-feedback">
			 				    <label for="code-secret">Code Secret</label>
			 				    <input type="password" class="form-control" id="code-secret" placeholder="Code secret"/>
			 				    <span class="form-control-feedback fa fa-lock"></span>
			 				    <small id="omb-code-secret-help" class="form-text text-muted">Veuillez choisir le code via le pavé
			 				    </small>
			 </div>
			  <!--   <div class="input-group">
			      <label for="code-secret">Code Secret</label>
			  				    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			  				    <input type="password" class="form-control" id="code-secret" name="password" placeholder="Code secret"/>
			  				    <small id="omb-code-secret-help" class="form-text text-muted">Veuillez choisir le code via le pavé  </small>
			                  </div> -->
			     <div class="omb-pave">
			    
			    	
			    	 <div class="row ligne">
			    	   <div class="col-xs-3"> <a href="#">2</a></div>
			    			<div class="col-xs-3"><a href="#">8</a></div>
			    			<div class="col-xs-3"><a href="#">7</a></div>
			    			<div class="col-xs-3"><a href="#">0</a></div>
			    			
			    	 	
			    	 </div>
			    	 <div class="row ligne">
			    	    <div class="col-xs-3"><a href="#">3</a></div>
			    			<div class="col-xs-3"><a href="#">5</a></div>
			    			<div class="col-xs-3"><a href="#"></a></div>
			    			<div class="col-xs-3"><a href="#">1</a></div>
			    			
			    	 	
			    	 </div>
			    	  <div class="row ligne">

			    	       <div class="col-xs-3"><a href="#"></a></div>
			    			<div class="col-xs-3"><a href="#">6</a></div>
			    			<div class="col-xs-3"><a href="#">9</a></div>
			    			<div class="col-xs-3"><a href="#">4</a></div>
			    			</div>
			    	</div>
			

  
   <button type="submit" class=" submit-button btn btn-primary">Valider</button>
   <p class="omb-oubli-connexion"><a href="#">identifiant ou mot de passe oublié ?</a></p>
 </form>
</div>
	</div>
	</div>
		</div>
	
</section>
<footer></footer>


<script src="../assets/bootstrap/js/npm.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	 
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</div>
</body>
</html>