<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>tableau de bord </title>
  
    <link   rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link href="../assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body> 
    <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"><img src="../assets/images/mylogo.png" alt="SENEGAL"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav navbar-right">
                          
                             <li> 
                                 <a href="#"><i class="fa align-center fa-user fa-2x active"> </i></a>
                                            </li>
                                             <li> 
                                                <a href="#"><i class="fa fa-address-book fa-2x"> </i></a>
                                            </li>
                                            <li> 
                                                <a href="#"><i class="fa fa-envelope-o fa-2x"> </i></a>
                                            </li>
                                            <li> 
                                                <a href="#"><i class="fa  fa-power-off fa-2x"> </i></a>
                                            </li>
                        
                      </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
   </header>
    <div id="omb-homepage">
        <div class= "container">
            <div class="row">
                <div  class="omb-infos">
                    <div class="omb-details">
                        <div class="omb-welcome"> <p>Bienvenue Mr Démo</p>
                        </div>
                         <small>Dernière connexion le 02/12/2016 à 10:16</small>
                         <p class="omb-details-compte">Solde : 2088585 Crédits : -1254 </p>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="omb-menu col-xs-3 col-sm-3 col-md-3  col-lg-3">
                    <nav class="navbar navbar-default">
                         <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                         </div>
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                     <ul class="nav nav-pills nav-stacked">
                        <li> 
                            <a href="#" class="active"><i class="fa fa-th-large">  TABLEAU DE BORD </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-user"> MES COMPTES </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-chevron-right"> MES  VIREMENTS </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-chevron-right"> MES  MISES A  DISPOSITION </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-chevron-right"> MES  BENEFICIAIRES </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-chevron-right"> MES  DEMANDES </i></a>
                        </li>
                        <li> 
                            <a href="#"><i class="fa  fa-chevron-right"> MES  ANNULATIONS </i></a>
                        </li>
                    </ul>
                </div>
            </nav>
            </div>
                <div class="omb-contenu col-lg-6">
                    <div class="row">
                        <h2 class="omb-titre-page"> MON TABLEAU DE BORD</h2>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-red " data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Ajouter un widget </button>
                    </div>
                    <div class="row">
                        <div class="omb-compte col-lg-6">
                            <div class="omb-header">
                                <i class="fa fa-user"> </i>
                                <span> MES COMPTES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                            </div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#"> COMPTES ORDINAIRES COMMERCIAUX</a>
                                            <div>25011 00500 05001234564 90</div>
                                            <div> Mr Démo</div>
                                       </td>
                                       <td>
                                            <span>0</span>
                                            <span>XOF</span>
                                       </td>    
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"> COMPTES ORDINAIRES COMMERCIAUX</a>
                                            <div>25011 00500 05001234564 25</div>
                                            <div> Mr Démo</div>
                                        </td>
                                         <td>
                                            <span>0</span>
                                            <span>XOF</span>
                                       </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="omb-footer">
                            <a href="#"> <i class="fa fa-chevron-right"></i>Le solde de mes comptes</a>    
                            </div>
                        </div>
                        <div class="omb-droite col-lg-6">
                            <div class="row">
                                <div class="omb-message">
                                     <div class="omb-header">
                                        <i class="fa fa-envelope"> </i>
                                        <span> MES MESSAGES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                    </div>
                                    <div class="aucun">
                                        Vous n'avez pas d'ancien message
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="omb-virement">
                                     <div class="omb-header">
                                        <i class="fa fa-user"> </i>
                                        <span> MES VIREMENTS </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                    </div>
                                    <div class="aucun">
                                        Vous n'avez aucun virement à signer
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="omb-carte">
                                     <div class="omb-header">
                                        <i class="fa  fa-credit-card "> </i>
                                        <span> MES CARTES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                    </div>
                                    <div class="aucun">
                                        Vous n'avez pas de carte bancaire disponible
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="omb-pub col-lg-2">
                    <img src="../assets/images/myclient.jpg">
                </div>
            </div> 
            </div>
        </div>
   
        <footer>
            <div class="container">
                <div class="omb-footer">
                    <div class="row">
                        
                        <div class="omb-liens col-lg-5 col-lg-offset-3">
                            <ul>
                               <li>
                                    <a href="#">Mentions légales</a>
                                </li>
                                <span>|</span>
                                <li>
                                    <a href="#">Sécurité</a>
                                </li>
                                <span>|</span>
                                <li>
                                    <a href="#">Aide à la connexion</a>
                                </li>
                                <span>|</span>
                                <li>
                                    <a href="#">Visite guidée</a>
                                </li>
                            </ul>
                            <div class="row">
                                <span>Copyright 2016</span>
                             </div>
                        </div> 
                    </div> 
                    
                 </div>
           </div>
        </footer>
       <!--<script  src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
        <script src="../assets/bootstrap/js/npm.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body> 
</html>
