<!DOCTYPE html>
<html lang='fr'>
<head>
    <title>tableau de bord </title>
  
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/styledash-mobile.css" rel="stylesheet">
</head>
<body> 
    <div id="omb-dashboard">
        <div class="omb-header">
            <div class="omb-container">
                <header class="row">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="#"><img src="../assets/images/mylogo.png" alt="SENEGAL"></a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                   <ul class="nav navbar-nav navbar-right">
                                      
                                         <li> 
                                             <a href="#"><span class="glyphicon glyphicon-user active"> </span></a>
                                                        </li>
                                                         <li> 
                                                            <a href="#"><span class="glyphicon glyphicon-headphones"> </span></a>
                                                        </li>
                                                        <li> 
                                                            <a href="#"><span class="glyphicon glyphicon-envelope"> </span></a>
                                                        </li>
                                                        <li> 
                                                            <a href="#"><span class="glyphicon glyphicon-off"> </span></a>
                                                        </li>
                                    
                                  </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                 </header>
            </div>
        </div>
        
        <div class="omb-homepage">
            <div class="omb-container">
                <div class="row">
                    <div  class="omb-infos">
                        <div class="omb-details">
                            <div class="omb-welcome"> <p>Bienvenue Mr Démo</p>
                            </div>
                             <small>Dernière connexion le 02/12/2016 à 10:16</small>
                             <p class="omb-details-compte">Solde : 2088585 Crédits : -1254 </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <nav class="navbar navbar-default omb-menu col-sm-3">
                             <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                             </div>
                             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li> 
                                        <a href="#" class="active"><i class="fa fa-th-large fa-lg">  TABLEAU DE BORD </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa  fa-user fa-lg"> MES COMPTES </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa fa-exchange fa-lg"> MES  VIREMENTS </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa fa-car fa-lg"> MES  MISES A  DISPOSITION </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa fa-users fa-lg"> MES  BENEFICIAIRES </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa fa-question-circle fa-lg"> MES  DEMANDES </i></a>
                                    </li>
                                    <li> 
                                        <a href="#"><i class="fa fa-ban fa-lg"> MES  ANNULATIONS </i></a>
                                    </li>
                                </ul>
                              </div>
                        </nav>
               
                        <section class="omb-contenu col-sm-6">
                            <h2 class="omb-titre-page"> MON TABLEAU DE BORD</h2>
                            <div class="row">
                                <button type="button" class="btn btn-red " data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Ajouter un widget </button>
                            </div>
                            <div class="row">
                                <div class="omb-compte col-xs-6 col-sm-6 col-lg-6">
                                    <div class="omb-header">
                                        <i class="fa fa-user"> </i>
                                        <span> MES COMPTES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                    </div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="#"> COMPTES ORDINAIRES COMMERCIAUX</a>
                                                    <div>25011 00500 05001234564 90</div>
                                                    <div> Mr Démo</div>
                                               </td>
                                               <td>
                                                    <span>0</span>
                                                    <span>XOF</span>
                                               </td>    
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#"> COMPTES ORDINAIRES COMMERCIAUX</a>
                                                    <div>25011 00500 05001234564 25</div>
                                                    <div> Mr Démo</div>
                                                </td>
                                                 <td>
                                                    <span>0</span>
                                                    <span>XOF</span>
                                               </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="omb-footer">
                                        <a href="#"> <i class="fa fa-chevron-right"></i>Le solde de mes comptes</a>    
                                    </div>
                                </div>
                                <div class="omb-droite col-xs-6 col-sm-6 col-lg-6">
                                    <div class="row">
                                        <div class="omb-message">
                                             <div class="omb-header">
                                                <i class="fa fa-envelope"> </i>
                                                <span> MES MESSAGES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                            </div>
                                            <div class="aucun">
                                                Vous n'avez pas d'ancien message
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="omb-virement">
                                             <div class="omb-header">
                                                <i class="fa fa-user"> </i>
                                                <span> MES VIREMENTS </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                            </div>
                                            <div class="aucun">
                                                Vous n'avez aucun virement à signer
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="omb-carte">
                                             <div class="omb-header">
                                                <i class="fa  fa-credit-card "> </i>
                                                <span> MES CARTES </span><a href="#"><i class="fa fa-close pull-right"></i></a>
                                            </div>
                                            <div class="aucun">
                                                Vous n'avez pas de carte bancaire disponible
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </section>
                        <section>
                            <div class="omb-pub col-sm-3">
                                <img src="../assets/images/myclient.jpg" class="img-responsive">
                            </div>
                        </section>
                </div>
                        
                       
            </div> 
        </div>
   </div>
    <footer class="container-fluid">
        <div class="omb-footer col-lg-12">
            <div class="row">
                            
                <div class="omb-liens">
                    <ul>
                       <li>
                           <a href="#">Mentions légales</a>
                        </li>
                            <span>|</span>
                        <li>
                            <a href="#">Sécurité</a>
                        </li>
                            <span>|</span>
                                <li>
                                    <a href="#">Aide à la connexion</a>
                                </li>
                                    <span>|</span>
                                <li>
                                    <a href="#">Visite guidée</a>
                                </li>
                    </ul>
                    <div class="row">
                        <p>Copyright 2016</p>
                    </div>
                </div> 
            </div> 
                        
        </div>
              
    </footer>

    <!--<script  src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script src="../assets/bootstrap/js/npm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body> 
</html>
