/* Responsive: Portrait tablets and up */
@media (min-width:576px) {
	img{
		width: $imgWidthMobile - (20px) ;
		height: $imgHeightMobile - (20px);
	}

}

@media (min-width:990px) {
header{
	.profil{
			.form-group{
				@include paddingTB(17.5px,17.5px);
				margin-bottom: 0;
				background:$lightyellow;
				border-left:1px solid lighten($brown,10);

				#etapes &{
					@include paddingTB(10px,10px);
				}	
			}
        }
		.navbar-right
		{
			li{
				text-align: center;
				a{
					color:$caramel;
				}
			}
		}
}


}
@media (max-width:576px) {

	table{
		display: block;
		overflow-x:auto;
	}
}
	

