$color-even-cells : transparentize($lightyellow , .8);

.green{color :$green;}
.red{ color: $orange;}
.yellow{color :$lightyellow;}
.black{color:$black;}

.actif{ background-color:lighten($lightGrey,20);}

.table{
	font-size: 14px;
	text-align: left;
	width: 100%;
	background-color: $white;
    border:1px solid lighten($brown,10);


	
	> thead,
	> tbody,
	> tfoot{
		> tr {

		
			> th,
			> td {
				padding: 10px;
			    text-align: center;
			    border:0;
			}
		}
	}

	> thead > tr {
		background:lighten($brown,10);
		color:$beige;
		& :hover{ // & =parent
			background:lighten($lightGrey,10);
		}
		> th {
			border-bottom: 0px;
			border:1px solid $white;
			text-transform: uppercase;
		    font-weight: 300;
		    text-align: center;
		    color: white;
		    @extend %gradient;
		    position: relative;
		    &:after {
		      content: "";
		      display: block;
		      height: 5px;
		      right: 0;
		      left: 0;
		      bottom: 0;
		      background-color: $brown;
		      position: absolute;
		      }

		    .etape-6 &{
		    	background:lighten($black,20);
		    }
		}

	}
	> tbody{
		
		>tr{
			
		

			}
		}
}
.table-paid{
	tbody{
		tr{
			td{
				&:last-child{
				  color:$black;
				  @include police ($font-page,700,12px);
				}
			}
		}
	}
}

.etape-6{ 

	 .table{
	 	@extend %noneBorder;
	 }
}
                 
				
			